#page--about-us {
    display: flex;
    flex-direction: column;

    .container {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        height: 300px;
        width: 100vw;
        
        div {
            margin-top: 7%;
            flex: 1;
            align-items: flex-start;
            max-width: 308px;
        }
        
        h1 {
            font-size: 20px;
            font-weight: 600;
            line-height: 34px;
            margin-bottom: 16px;
            align-self: flex-start;
        }
        
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            
        }

        .contact {
            div {
                padding-bottom: 19px;
                margin-top: 0 !important;

                a {
                    margin-left: 16px;
                }
            }
        }
    }

    .rights {
        text-align: center;
        margin: 30px 0 73px 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
}