$pink-1: #EC2390;

.header {
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #ffff;
    top: 0;

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        padding: 50px 0;
        height: 6rem;

        a:hover {
            color: $pink-1;
            transition: 200ms ease;
        }

        .logo {
            font-size: 30px;
            margin-right: 40rem;
        }

        .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 450px;
        }

        .focus {
            color: $pink-1;
        }

        .hidden {
            visibility: hidden;
        }

    }

}