* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #494949;
    padding-top: 9rem;
}

body, input, button, textarea {
    font: 400 16px 'Poppins', sans-serif;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 70rem;
    padding: 0 1rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #494949;
}