.header {
    padding: 0.5rem 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #ffff;
    top: 0;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        padding: 64px 0;
        height: 8rem;

        a:hover {
            color: #EC2390;
            transition: 200ms ease;
        }

        .logo {
            font-size: 30px;
            margin-right: 40rem;
        }

        .focus {
            color: #EC2390;
        }

        .hidden {
            visibility: hidden;
        }

    }

}